extends layout

block content
  div.header
    img(src="https://www.formula1.com/etc/designs/fom-website/images/f1_logo.svg").logo
  h1 Live scoreboard
  div.container
    div.col
      span.redBull redBull 
      span.redBullScore 0
    div.col
      span.mercedes Mercedes 
      span.mercedesScore 0 
    div.col
      span.ferrari Scuderia Ferrari 
      span.ferrariScore 0 


  span.submit.hidden

  script(src="./javascripts/app.js") 

